@import url('https://fonts.googleapis.com/css?family=Cambay|Coustard|Leckerli+One|Montserrat:300,400,700,800');

body {
    font-family: 'Cambay', sans-serif;    
}
.btn {
    border-radius: 1.25em;
}
.icon {
    background-color: #007af3;
    padding: 20px 0;
}
h1 {
    color: white;
    font-weight: 800;
    font-family: 'Coustard', serif;
    margin-bottom: 10px;    
}
h2 {
    color: white;
    font-family: 'Leckerli One', cursive; 
    margin-bottom: 10px;   
}
h3 {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;    
    color: white;
}

/* nav-bar */
.jumbotron-header {
    background-image: url("images/bg-header.jpg");
    background-size: 1330px;
    background-position: 165px -45px;
    min-height: 800%;
	height: 100%;
}
.jumbotron-blur {
    background-color: rgba(52, 58, 64, 0.5);
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #131111;
    margin-right: 15px;
}
.navbar-light .navbar-nav .nav-link {
    color:#f6f6f6;
    margin-right: 15px;
}
.btn-outline-warning:hover {
    background-color: #FFFF00;
    border-color: #FFFF00;
    color: #131111;
}
.btn-outline-warning {
    box-shadow: 0px 5px 40px -12px #FFFF00;  
    border-color: #FFFF00;
    color: #FFFF00;
}
/* header */
header {
    margin-top: 140px;
    padding-bottom: 140px;
}
 
h1.hheader{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;        
}
header p {
    color: gray;
}
.btn-primary {
    color: white;
    border: none;
}

/* about me */
/* intro */
.jumbotron-intro {
    background-color: #0081FF;
}
.about {
    color: white;    
    padding: 90px 0 20px;
}
.about p {
    font-size: 19px;
}
h1.intro {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;    
}
p.assa {
    color: white;
    padding-top: 55px;
}
.media img {
    width: 60px;
    
}
.media-body {
    color: white;
    font-size: 15px;
    
}
.media-body h5 {
    font-weight: 800;
}

/* icon */
.contact {
    padding-bottom: 60px;
    
}
.social {
    color: white;
    display: inline-flex;
    padding-top: 50px;    
}
.social p {
    margin-right: 100PX;
}
.social i.fa {
    margin-right: 20px;
}
.social  a {
    color: #3796f2;
}
.social a:hover {
    color: white;
}


/* h2.portfolio {
    color: rgba(52, 58, 64, 0.5);
}
h1.portfolio {
    color: black;
    font-family: 'Montserrat', sans-serif;
    
} */