@import url('https://fonts.googleapis.com/css?family=Cambay|Coustard|Leckerli+One|Montserrat:300,400,700,800');

body {
    font-family: 'Cambay', sans-serif;    
}
.btn {
    border-radius: 1.25em;
}
.icon {
    background-color: #007af3;
    padding: 20px 0;
}
.container {
    max-width: 1040px;
}
h1 {
    color: white;
    font-weight: 800;
    font-family: 'Coustard', serif;
    margin-bottom: 10px;    
}
h2 {
    color: white;
    font-family: 'Leckerli One', cursive; 
    margin-bottom: 10px;   
}
h3 {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;    
    color: white;
}

/* nav-bar */
.jumbotron-header {
    background-image: url("images/bg-header.jpg");
    background-size: 1330px;
    background-position: 165px -45px;
    min-height: 800%;
	height: 100%;
}
.jumbotron-blur {
    background-color: rgba(52, 58, 64, 0.5);
}
a.navbar-brand img {
    height: 60px;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: #131111;
    margin-right: 15px;
}
.navbar-light .navbar-nav .nav-link {
    color:#f6f6f6;
    margin-right: 15px;
}
.btn-outline-warning:hover {
    background-color: #FFFF00;
    border-color: #FFFF00;
    color: #131111;
}
.btn-outline-warning {
    box-shadow: 0px 5px 40px -12px #FFFF00;  
    border-color: #FFFF00;
    color: #FFFF00;
}
/* header */
header {
    margin-top: 140px;
    padding-bottom: 140px;
}
 
h1.hheader{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;        
}
.headerp {
    color: gray;
}

.btn-primary {
    box-shadow: 0px 5px 40px -12px black;      
    color: white;
    border: none;
}

/* about me */
/* intro */
.jumbotron-intro {
    background-color: #0081FF;
}
.about {
    color: white;    
    padding: 90px 0 45px;
}
.about p {
    font-size: 19px;
}
h1.intro {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;    
}
p.assa {
    color: white;
    padding-top: 55px;
}
.media {
    padding: 35px 0;
}
.media img {
    width: 60px;
    
}
.media-body {
    color: white;
    font-size: 15px;
    
}
.media-body h5 {
    font-family: 'Montserrat', sans-serif;    
    font-weight: 800;
}

/* icon */
.contact {
    padding-bottom: 35px;
    
}
.social {
    color: white;
    display: inline-flex;
    padding-top: 40px;   
    font-size: 20px; 
}
.social p {
    margin-right: 100PX;
}
.social i.fa {
    margin-right: 20px;
}
.social a.active {
    color: white;
}
.social  a {
    color: #3796f2;
}
.social a:hover {
    color: white;
}
h2.portfolio {
    padding-bottom: 20px;
    color: rgba(52, 58, 64, 0.5);
}
h1.portfolio {
    color: black;
    font-family: 'Montserrat', sans-serif;
    float: left;
    
} 
.head-portfolio {
    padding: 20px 0;
}
.about button.btn {
    float: right;
    box-shadow: 0px 5px 40px -12px #1CBBB3;      
    background-color: #1CBBB3;
}
/*  */

.container-fluid {
    margin-top: 55px;
}
.col img.img-fluid {
    width: 100%;
    height: 100%;
}
#image1 {
    padding: 0px;
}
#image2 {
    height:630px;
    object-fit:cover;
}
#image4 {
    height:60%;
    width:100%;
    object-fit: cover;
}
#image6 {
    height:40%;
    width:100%;
}
/* client */
.client {
    background-image: url("images/bg-client.jpg");
    background-size: 1330px;
    min-height: 800%;
	height: 100%;
}
.header-client {
    padding-top: 100PX;
    text-align: center;
}
.slide {
    padding: 20px 0;
}
h3.slide {
    padding: 0px;
    text-align: center;
    font-size: 17px;
}
.icon-client {
    padding: 50px 0;
}
.icon-client img {
    height: 135px;
    margin-right: 55px;     
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(37, 37, 37, 0.7);
}
.text {
    text-align: center;
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .text p {
      color: #8799A3;
  }
  .text h3 {
      font-size: 15px;
      padding-bottom: 20px;
  }
  .laptop:hover .overlay {
    opacity: 1;
  }
  .carousel-caption {
      position: static;
  }
  #slide {
      padding: 0px;
  }
  #slide img {
      border-radius: 100%;
      width: 73px;
      height: 73px;
  }
  #slide h5 {
      color: #FFFF00;
      padding-top: 12px;
      text-align: left;
      font-size: 15px;
  }
  #slide p {
      margin-top: 0;
      font-size: 12px;
      margin-bottom: 1rem;
  }
  /* blog */
.con-con {
    margin: 55px 0;
}
.bolg {
    font-size: 26px;
    padding-top: 101px;    
}
.blue-box {
    text-align: center;
    background-color: #007EF9;
    padding:15px; 
    color: white;
    font-family: 'Montserrat', sans-serif; 
    box-shadow:0px 0px 58px -7px blue;      
    
}
.blue-box h3 {
    font-size: 15px;
}
.blue-box p {
    font-size: 19px;
}
.blue-box q.satu {
    font-size: 24px;
}
#slide h5.jhon {
    text-align: center;
}
.mine {
    padding-top: 25px;
    height: 68.5%;
}
.box-1 {
    background-image: url("images/blog-1.png");
    background-size: 725px;
    background-position: 110px 17px;
    padding: 109px 0px;
    text-align: left;
}
.box-2 {
    background-image: url("images/blog-2.png");
    background-size: 250px;
    background-position: 0px -6px;
    padding: 23px 0;
    margin: 25px 15px;
    text-align: left;
    height: 170px;
    box-shadow:0px 0px 58px -7px black;      
    
}
.box-2 h1 {
    font-size: 26px;
}
.box-3 {
    background-image: url("images/blog-3.png");
    background-size: 257px;
    background-position: 0px;
    padding: 0px;
    margin: 25px 15px;
    box-shadow:0px 0px 58px -7px black;      
    
}
.box-3 h1 {
    font-size: 22px;
}
.box-6 {
    background-color: #E91E62;
    margin-right: 12px;
    padding: 51px 10px;
    text-transform: uppercase;
    box-shadow:0px 0px 58px -7px #E91E62;      
    
}
.box-6 p {
    font-size: 19px;
}
.box-5 {
    background-color: white;
    height: 175px;
    margin: 0 15px;
    text-align: left;
    box-shadow:0px 0px 58px -7px black;      
    
}
.box-5 h1 {
    font-size: 17px;
}
p.kuy {
    color: gray;
    font-size: 15px;
    margin: 0px;
}
#lol {
    margin-top: 17px;
}
.con-blog {
    padding: 0 45px;
}
.con-blog h1 {
    font-size: 35px;
    margin-top: 12px;
}
.con-blog button {
    background-color: #FFFF00;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    padding:12px 34px;
}
.carousel-indicators {
    margin-left: 11%;
    justify-content: left;
    padding-bottom: 30px;
}
.con-blog1 {
    padding: 24px;
}
.con-blog1 h1 {
    font-size: 23px;
}
.con-blog1 img {
    width: 39px;
}
#box-5 {
    padding: 6px 22px;
}
/* footer */
.contact-us {
    color: white;
    background-image: url("images/bg-contact.jpg");
    background-size: 1480px;
    background-position: -2px -45px;
    min-height: 800%;
    height: 100%;
}
.soc-cont {
    font-size: 15px;
}
.soc-cont a {
    color: gray;
}
p.kuy-phone {
    margin-bottom: 15px;
}
.jumbotron-blur2 {
    background-color: rgba(32, 33, 35, 0.92);
}
#footer {
    padding: 185px 0;
}
.col-foo {
    padding-top: 47px;
}
input.form-control {
    border-radius: 100px;
}
input#inputAddress {
    height: 100px;
    border-radius: 15px;
}
button.btn-foo {
    width: 112px;
    text-transform: uppercase;
}
.form-row {
    margin: 15px 0;
}
.footer {
    background-color: rgba(39, 37, 37, 0.72);
    padding: 30px 0;
}
.back-up {
    display: -webkit-inline-box;
    color: gray;
}
p.kuy2 {
    margin-left: 250px;
}